.profile__avatar {
  position: relative;
  z-index: 0;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
  padding: 47px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 26px;
  height: 26px;
}

.profile__avatar::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/edit-image.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s linear;
}

.profile__avatar:hover::before{
  opacity: 0.8;
}

.profile__avatar:hover + .profile__avatar-edit-image{
  opacity: 1;
}

@media screen and (max-width: 635px){
  .profile__avatar{
    margin: 0 0 26px;
  }
}
