.profile__subtitle {
  width: 294px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 445px){
  .profile__subtitle{
    width: 189px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
