.header {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
}

.header__email {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 6px 24px 0 0;
}

.header__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 6px 0 0;
  text-decoration: none;
  height: 30px;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 445px){
  .header__link {
    font-size: 14px;
    height: 26px;
  }
}
