.logo {
  margin-bottom: 40px;
}

@media screen and (max-width: 907px){
  .logo {
    padding: 0 0 0 27px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 445px){
  .logo {
    min-width: 104px;
    width: 30%;
  }
}

