.profile__edit-button {
  padding: 12px;
  margin-bottom: 8px;
  align-self: end;
  background-image: url("../../../images/edit.svg");
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(100% / 2.4);
  box-sizing: border-box;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button:focus {
  outline: none;
}

.profile__edit-button:active {
  outline: none;
}

@media screen and (max-width: 635px){
  .profile__edit-button{
    right: -15px;
  }
}

@media screen and (max-width: 445px){
  .profile__edit-button{
    right: 19px;
    top: 8px;
    padding: 9px;
    margin-bottom: 6px;
  }
}
